---
---

@import "{{ site.theme }}";
h1 {
  color:#99BADD;
  margin:0 0 20px;
}

header ul {
  line-height: 40px;
  list-style:none;
  background: #f4f4f4;
  border-radius:0px;
  border:0px solid #e0e0e0;
  width:270px;
}

ul skillz{
  column-count: 2;
  list-style: none;
  column-gap: 30px;
}
// body ul {
//   columns: 2;
//   -webkit-columns: 2;
//   -moz-columns: 2;
// }

// ul d1{
//     -webkit-column-count: 3; /* Chrome, Safari, Opera */
//     -moz-column-count: 3; /* Firefox */
//     column-count: 3;
// }
