<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="/Shai.png" style="width:16px; height:16px"/>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>

        <img src="{{site.logo | relative_url}}" alt="Logo" />
        <center>
          <h1>Shai Caspin</h1>
          <h5><a href="mailto:caspinshai@gmail.com">caspinshai@gmail.com</a> | <a href="mailto:shai@unc.edu">shai@unc.edu</a></h5>
        <ul>
          <!-- <li><a href="https://www.linkedin.com/in/shaicaspin" target="_blank"><img src="pictures/linked.png" style="width:50px; height:50px"></a></li> -->
          <!-- <li><a href="https://github.com/scaspin" target="_blank"><img src="pictures/git.png" style="width:50px; height:50px"></a></li> -->
          <!-- <li><a href="/pictures/Caspin_Resume2018.pdf" target="_blank"><img src="pictures/res.ong.png" style="width:50px; height:50px"></a></li> -->
          <!-- <li><a href="https://www.instagram.com/shaicaspin/" target="_blank"><img src="pictures/insta.png" style="width:50px; height:50px"></a></li> -->
          <li><a href="https://github.com/scaspin" target="_blank"><img src="pictures/git.png" style="width:50px; height:50px"></a></li>
          <li><a href="https://www.linkedin.com/in/shaicaspin" target="_blank"><img src="pictures/linked.png" style="width:50px; height:50px"></a></li>
          <li><a href="https://www.facebook.com/shaicaspin" target="_blank"><img src="pictures/fb.png" style="width:50px; height:50px"></a></li>

        </ul>
       </center>

      </header>
      <section>

      {{ content }}

      </section>
      <!-- <footer>
        <b> Contact me via email <a href="mailto:caspinshai@gmail.com">here.</a> </b>
      </footer> -->
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
